.updated-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #555;
  min-height: 28px;
}

.updated-text {
  min-width: 220px;
  display: flex;
  align-items: center;
}

.refresh-button {
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #888;
  border: none;
  padding: 0;
}

.refresh-button:hover {
  color: #333;
  background: transparent;
}
