.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 300px;
}

.auth-switch-button {
  background: none;
  color: #3a6ea5;
  cursor: pointer;
  box-shadow: none;
}

.auth-switch-button:hover {
  background: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(58, 110, 165, 0.15);
  padding: 10px;
  width: 100%;
  min-height: 355px;
  border: 1px solid #aad4f5;
}
