.weather-content {
  display: flex;
  flex-direction: column;
}

.city-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.weather-feels-like {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0 0;
  color: #555555;
}

.weather-details {
  display: flex;
  justify-content: space-between;
}

.weather-details p {
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
