.app-container {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100%;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 3em #b63c07aa);
}

.tabs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 360px;
}

.tabs-container {
  display: flex;
  align-items: center;
}

.tab {
  padding: 10px 15px;
  cursor: pointer;
  color: #007bff;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: #f0f0f0;
}

.active {
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.user-container {
  display: flex;
  align-items: center;
}

#welcome {
  margin-right: 5px;
  text-align: center;
}

#logout {
  margin-right: 10px;
}

.autocomplete-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 15px;
}

.favorite-button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
  height: 40px;
  font-size: 10px;
  margin-left: 5px;
  transition: border-color 0.3s ease;
}

.favorite-button:hover {
  border-color: #888;
}

.main-content,
.favorites-content {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  min-height: 600px;
  width: 360px;
}

#info {
  text-align: center;
}
