.weekly-forecast {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.weekly-item {
  display: flex;
  justify-content: space-between;
  margin: 7px;
}

.day-label {
  font-weight: bold;
}
