body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #e2f0ff;
  color: #333333;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px 15px;
  margin: 10px;
  border: 1px solid #aad4f5;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  border-color: #3a6ea5;
  outline: none;
}

button {
  background: linear-gradient(to bottom, #5b92d1, #3a6ea5);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 14px;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: linear-gradient(to bottom, #3a6ea5, #2c5282);
}

button:disabled {
  background: #cccccc;
  border: none;
  color: #666666;
  cursor: not-allowed;
}

h2,
h3 {
  margin: 10px;
  text-align: center;
  white-space: nowrap;
  color: #333333;
}

p {
  font-size: 14px;
}

.error-big-container {
  min-height: 0.9em;
  margin: 10px 15px;
}

.error-small-container {
  min-height: 0.9em;
}

.error-message {
  color: #d14747;
  font-size: 0.8em;
}
