.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  background-color: #f9f9f9;
  border-radius: 6px;
  padding: 5px 15px;
  text-align: center;
  animation: scaleIn 0.3s ease-in-out;
}

.modal-content > p {
  margin-top: 30px;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
