.spinner-loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(90 150 200 / 20%);
  border-radius: 50%;
  box-shadow: 0 0 4px rgb(0 0 0 / 10%);
  animation: spin 1s linear infinite;
  border-left-color: #3a6ea5;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
