.tabs-container {
  display: flex;
  min-width: 165px;
  gap: 3px;
}

.tab {
  padding: 18px 12px;
  font-size: 14px;
  border: 1px solid #aad4f5;
  border-bottom: none;
  background: linear-gradient(to bottom, #f0f8ff, #ddeeff);
  border-radius: 6px 6px 0 0;
  color: #2c5282;
  cursor: pointer;
  transition:
    background 0.3s ease,
    color 0.3s ease;
  box-shadow: inset 0 1px 0 #ffffff;
}

.tab:hover {
  background: linear-gradient(to bottom, #e6f2ff, #cce5ff);
}

.tab.active {
  background: #f9f9f9;
  color: #000000;
  font-weight: bold;
  border-color: #aad4f5 #aad4f5 #ffffff;
  z-index: 2;
  position: relative;
  box-shadow: none;
}
