h3 {
  padding-top: 20px;
}

#info {
  color: #777;
}

.favorites-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.favorite-card {
  display: flex;
  flex-direction: column;
}

.remove-favorite-button {
  margin-top: 10px;
  margin-right: 10px;
  align-self: flex-end;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-favorite-button:hover {
  background-color: #ff1a1a;
}
