.updated-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-height: 28px;
  color: #555;
}

.updated-text {
  display: flex;
  align-items: center;
}

.refresh-button {
  padding: 3px 6px;
  border: 1px solid #aad4f5;
  border-radius: 4px;
  background: linear-gradient(to bottom, #f0f8ff, #def);
  color: #666;
  font-size: 13px;
  cursor: pointer;
  box-shadow: none;
  transition:
    background 0.3s ease,
    box-shadow 0.2s ease;
}

.refresh-button:hover {
  background: linear-gradient(to bottom, #e6f2ff, #cce5ff);
  color: #000;
}
