.weather-content {
  display: flex;
  flex-direction: column;
}

.city-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.weather-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #555;
}

.weather-details {
  display: flex;
  justify-content: space-between;
}

.weather-details p {
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.weekly-forecast {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.weekly-item {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.day-label {
  font-weight: bold;
}

.favorite-button {
  background: transparent;
  cursor: pointer;
  font-size: 28px;
  padding: 0;
  margin: 0;
  color: red;
}

.favorite-button:hover {
  color: rgba(255, 0, 0, 0.7);
  background-color: white;
}
